@charset "utf-8";
/* CSS Document */

	.map_result{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;			
		}
	.text_result{
	background-color: #CFCFCF;
	text-align: center;
	font-size: large;
		}
		
.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}